

  <mat-drawer-container class="container">
    <mat-drawer class="side-nav" #drawer>
        <img class="close-icon" (click)="drawer.toggle()" src="../../assets/images/icon-close.svg" />
        <p class='nav-item'> Collections</p>
        <p class='nav-item'> Men</p>
        <p class='nav-item'>Women</p>
        <p class='nav-item'>About</p>
        <p class='nav-item'>Contact</p>
    </mat-drawer>
    <mat-drawer-content class="content">
        <div class="nav-bar">
            <div class="left">
                <img class="menu-icon" (click)="drawer.toggle()" src="../../assets/images/icon-menu.svg" />
                <p class='nav-item logo'><img src='../../assets/images/logo.svg' /> </p>
                <p class='nav-item'> Collections</p>
                <p class='nav-item'> Men</p>
                <p class='nav-item'>Women</p>
                <p class='nav-item'>About</p>
                <p class='nav-item'>Contact</p>
            </div>

            <div class="right">
                <p class='nav-item'><img class="cart-icon" src="../../assets/images/icon-cart.svg"></p>
                <p class='nav-item'><img class=" user-avatar" src="../../assets/images/image-avatar.png"></p>
            </div>
        </div>
        <product></product>
    </mat-drawer-content>
</mat-drawer-container>

<!-- <div class="attribution">
  Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
  Coded by <a href="#">Your Name Here</a>.
</div> -->